@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://cdn.rawgit.com/lonekorean/gist-syntax-themes/b737b139/stylesheets/terminal.css');

body {
	  font-family: 'PT Sans';
    font-size: 1.8rem;
	background-color: #232323;
	color: white;
}

.frontpage header {
    padding-bottom: 1rem;
	margin-bottom: 2rem;
  background-color: #234172;
}

.frontpage header:first-child {
	  padding-top: 2rem;
}

.frontpage img {
	width: 8em;
	border-radius: 4em;
}

.datebox {
	width: 6rem;
	background-color: white;
	color: black;
	display: block;
	text-align: center;
	padding: 0.5rem;
	float: left;
	margin-right: 2rem;
}

.datebox > span {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 1;
}

.datebox>span.day { font-size: 4rem;}

.article-listing { padding-bottom: 2rem; }
.article-listing p {padding: 0;}

header {
	width: 100%;
	background-color: #234172;
}

header h1 {
	padding: 1rem;
	padding-bottom: 0;
}

header h1 small {
    background-color: #232323;
    color: white;
}

.frontpage header h1 {
	margin-bottom: 0;
}

.byline {
	width: 100%;
	background-color: #234172;
}

.byline p {
	padding-bottom:0;
}
article {
	padding-top: 2em;
}

p, ul, h4 {
	padding: 1rem;
}

ul {
	list-style:none;
}

code {
	  background-color: #343434;
    color: #98baf2;
}

a {
	  background-color: #234172;
	  color: white;
}

a:hover {
	  background-color: white;
    color: #234172;
    transition-duration: 0.4s;
    text-decoration: none;
}

h2 > a { padding: 0.2rem; }

a.footnote-link {
	vertical-align: super;
}

footer.page-footer {
	background-color: #234172;
	width: 100%;
	color: white;
	padding: 3rem;
	margin-top: 4rem;
}

.gist>.gist-file>.gist-meta {background-color: #121212; color: white;}
.gist>.gist-file>.gist-meta a {color: white;}
