.cv-header  {
    margin-top: 6rem;
}

.cv-header .title  {
    grid-template-columns: 100fr;
}

.cv-header>.title>h1 {
    font-weight: 700;
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
    padding-bottom: 0;
    text-transform: uppercase;
    line-height: 0.8;
    align-self: start;
    color: var(--green);
}

.cv-header>.title>.subheading {
    font-weight: 100;
    font-size: 1.5rem;
    grid-row-start: 2;
    align-self: start;
    color: white;
    background-color: var(--purple);
    padding: 0.8rem;
    text-transform: uppercase;
    display: inline-block;
}

article {
    margin-bottom: 4rem;
}

h2 {
    color: white;
    background-color: var(--purple);
    padding: 0.8rem;
    text-transform: uppercase;
    display: inline-block;
}

.job-header  {
    grid-template-columns: 100fr auto auto;
    grid-template-rows: auto auto;
    display: grid;
}

.job-header h3  {
    grid-row: 1;
}

.job-header span  {
    grid-row: 2;
}

.range-start  {
    grid-column: 2;
}

.range-end  {
    grid-column: 3;
}

.range-start, .range-end {
	width: 6rem;
	color: var(--green);
	text-align: center;
	padding: 0.5rem;
    filter: brightness(60%);
    background-color: var(--background);
    grid-row-start: 1;
    grid-row-end: span 2;
    border-radius: 0.5rem;
    position: relative;
    margin: 0.5rem;
    display: flex;
    align-items: center;
}

.range-start > span, .range-end > span {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 1;
}

.range-start span span:first-child, .range-end span span:first-child{
    font-weight: 600;
    font-size: 2rem;
}

.present {
    font-weight: 600;
    font-size: 2.5rem;
}


@media all and (max-width: 900px) {
    .range-start, .range-end {
        width: 3rem;
        font-size: 0.8rem;
        margin: 0.2rem;
    }

    .range-start span span:first-child, .range-end span span:first-child{
        font-weight: 600;
        font-size: 1rem;
    }

    .present {
        font-weight: 600;
        font-size: 1.3rem;
    }
    
}


h2#skills, h2#testimonials {
    margin-top: 0;
}
.testimonials blockquote {
    margin: 0.3rem;
}
.testimonials blockquote>p {
    font-weight: 100;
    padding: 1.2rem;
    margin: 0rem;
    border-radius: 0.5rem;
    display: block;
    position: relative;
    background-color: #272822;
}

.testimonials blockquote footer {
    filter: unset;
    padding: 0;
    text-align: right;
    z-index: 10;
    position: relative;
    background-color: transparent;
}

.testimonials blockquote footer p {
    color: white;
    background-color: var(--purple);
    padding: 0.8rem;
    text-transform: uppercase;
    display: inline-block;
    font-weight: 100;
    transform:translate(-0.4rem, -1.7rem);
}

footer.cv-footer>div>p {
    font-size: 3rem;
}

@media print  {
    .container {
        color: black;
        font-size: 12pt;
        width: 100%;
    }
    
    .cv-header, h2  {
        margin: 0;
        padding: 0;
    }

    .testimonials blockquote footer p {
        color: white;
        background-color: var(--purple);
        padding: 0.8rem;
        text-transform: uppercase;
        display: inline-block;
        font-weight: 100;
        transform:translate(-0.4rem, -1.7rem);
    }

    .flicker::before { display: none; }
    .flicker::after { display:none; }
    .flicker {
        animation: none;
    }

    .cv-header>.title>h1, .cv-header>.title>.subheading {
        font-size: 2rem;
        margin: 0;
        padding: 0;
        color: black;
    }
    .divider {
        display: none;
    }

    .cv-footer {
        background-color: transparent;
        color: black;
    }

    .cv-footer a {
        display: none;
    }

    footer.cv-footer>div>p {
        font-size: 1rem;
    }
}

